.btnNews {
    max-width: 250px;
    width: 100%;
    padding: 14px 32px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: #F05A00;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .1s linear;
    cursor: pointer;
    
    &:hover {
        background-color: #000;
    }
}

.btnBuy {
    max-width: 264px;
    width: 100%;
    padding: 14px 32px;
    outline: 0;
    border: 1px solid #DEDBDB;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #3B3B3B;
    background-color: #F2F5F7;
    text-transform: uppercase;
    transition: all .1s linear;
    cursor: pointer;

    &:hover {
        border: 1px solid #F05A00;
        background-color: #F05A00;
        color: #fff;
    }
}

.btnSave {
    max-width: 266px;
    width: 100%;
    padding: 14px 32px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    background-color: #DEDBDB;
    text-transform: uppercase;
    transition: all .1s linear;
    cursor: pointer;

    &:hover {
        background-color: #F05A00;
    }
}

.btnNext {
    max-width: 308px;
    width: 100%;
    padding: 14px 32px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    background-color: #212526;
    text-transform: uppercase;
    transition: all .1s linear;
    cursor: pointer;

    &:hover {
        background-color: #F05A00;
    }
}